$MainColor: #f5f5f5
$MainColorShadow: #cfcfcf

.content
  display: flex
  margin: 82px auto 32px
  padding: 0 16px
  flex-direction: column
  align-items: center
  height: 100%

.input-row
  padding-bottom: 10px

.selected-gender
  display: inline-block
  vertical-align: middle

.main-icon
  color: #ec2127

.mat-left-input
  width: 100%

.avatarImgContainer
  width: 100%
  text-align: center
  padding: 15px

.avatarImg
  height: 100px

.textarea
  background-color: #292c35
  color: white
  border-radius: 4px
  display: block
  width: 100%
  height: 500px
  padding: 16px
  margin-top: 15px
  resize: none
  overflow-y: auto
  text-align: justify

.leftCol
  text-align: -webkit-left

.rightCol
  text-align: -webkit-right

.subraceInputRow
  transition: all 0.5s

.abilityInput
  width: 60px
  margin-left: 5px
