<div class="content" role="main">
  <div class="container">
    <mat-card>
      <h1 class="display-4">Character Data <i class="fa fa-user main-icon"></i></h1>
      <p class="lead"><b>Personal information</b></p>
      <hr class="my-12">

          <div class="row">

            <div class="col-sm leftCol">

              <div class="input-row">
                <mat-form-field class="mat-left-input">
                  <mat-label>Name</mat-label>
                  <input matInput id="charName" type="text" class="form-control" (keyup)="changeName()" value="{{charVar.name}}" placeholder="Introduce character's name"/>
                </mat-form-field>
              </div>

              <div class="input-row">
                <mat-form-field class="mat-left-input">
                  <mat-label>Surname</mat-label>
                  <input matInput id="charSurname" type="text" class="form-control" (keyup)="changeSurname()" value="{{charVar.surname}}" placeholder="Introduce character's surname"/>
                </mat-form-field>
              </div>

              <div class="input-row">

                <label>Gender:</label>

                <b *ngIf="charVar.gender == 'F'"> Female</b>
                <b *ngIf="charVar.gender == 'M'"> Male</b>

                <br>
                <div class="btn-group mr-3">

                  <section>

                    <button mat-stroked-button color="primary" (click)="changeGender('M')" value="M">Male <i class="fa fa-mars"></i></button>
                    <button mat-stroked-button color="accent" (click)="changeGender('F')" value="F">Female <i class="fa fa-venus"></i></button>

                  </section>

                </div>

                <div class="selected-gender">

                  <span *ngIf="charVar.gender == 'F'"><i class="fa fa-venus fa-2x"></i></span>
                  <span *ngIf="charVar.gender == 'M'"><i class="fa fa-mars fa-2x"></i></span>

                </div>

              </div>
              <div class="input-row">

                <div class="d-inline-block">
                  <mat-form-field>
                    <mat-label>Race</mat-label>

                    <mat-select [(value)]="charVar.race">

                      <mat-option *ngFor="let race of charVar.races; index as i; first as isFirst" (click)="raceSelect(race.name, race.url)" value="{{race.name}}">
                        {{race.name}}
                      </mat-option>

                    </mat-select>
                  </mat-form-field>
                </div>

              </div>

              <div class="input-row subraceInputRow" [style.opacity]="charVar.haveSubraces ? '1' : '0'" [style.visibility]="charVar.haveSubraces ? 'visible' : 'hidden'" [style.height]="charVar.haveSubraces ? '56px' : '0px'" [style.padding-bottom]="charVar.haveSubraces ? '10px' : '0px'">

                <div class="d-inline-block">
                  <mat-form-field>
                    <mat-label>Subrace</mat-label>

                    <mat-select [(value)]="charVar.subrace">
                      <mat-option (click)="subraceSelect(null, null)" value="None"> None </mat-option>
                      <mat-option *ngFor="let race of charVar.raceSubraces; index as i; first as isFirst" (click)="subraceSelect(race.name, race.url)" value="{{race.name}}">
                        {{race.name}}
                      </mat-option>

                    </mat-select>
                  </mat-form-field>
                </div>

              </div>

              <div class="input-row">

                <mat-grid-list cols="3" rowHeight="2:1">
                  <mat-grid-tile-header><h2>Abilities</h2></mat-grid-tile-header>
                  <hr>
                  <mat-grid-tile>
                    <mat-label><b>STR</b></mat-label>
                    <input id="charStrength" type="text" class="form-control abilityInput" value="" placeholder="STR" readonly/>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label><b>DEX</b></label>
                    <input id="charDexterity" type="text" class="form-control abilityInput" value="" placeholder="DEX" readonly/>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label><b>CON</b></label>
                    <input id="charConstitution" type="text" class="form-control abilityInput" value="" placeholder="CON" readonly/>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label><b>INT</b></label>
                    <input id="charIntelligence" type="text" class="form-control abilityInput" value="" placeholder="INT" readonly/>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label><b>WIS</b></label>
                    <input id="charWisdom" type="text" class="form-control abilityInput" value="" placeholder="WIS" readonly/>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <label><b>CHA</b></label>
                    <input id="charCharisma" type="text" class="form-control abilityInput" value="" placeholder="CHA" readonly/>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-tile-footer>Roll Abilities: <button mat-stroked-button color="primary" (click)="rollAbilities()"><i class="fa fa-random fa-2x"></i></button></mat-grid-tile-footer>
              </div>

            </div>

            <div class="col-sm rightCol">
              <div class="row">

                <span class="avatarImgContainer">
                  <img class="avatarImg" src="" alt="Avatar img" (error)="setDefaultPic()">
                </span>

                <input type="file" id="avatar" name="avatarIgm">
                <div *ngIf="charVar.raceLoaded == true; then someContentBlock else noContentBlock" #infoArea></div>
                <ng-template #noContentBlock><div class="textarea">...</div></ng-template>
                <ng-template #someContentBlock>
                  <div class="textarea">

                    <!-- Race Name -->
                    <h1><b>{{charVar.raceInfo.name}}</b><span *ngIf="charVar.subraceInfo.name"> ({{charVar.subraceInfo.name}})</span></h1>

                    <!-- Subace Description -->
                    <p *ngIf="charVar.subraceInfo.desc">{{charVar.subraceInfo.desc}}</p>

                    <!-- Race Age -->
                    <h3><b>Age</b></h3>
                    <p>{{charVar.raceInfo.age}}</p>

                    <!-- Race Alignment -->
                    <h3><b>Alignment</b></h3>
                    <p>{{charVar.raceInfo.alignment}}</p>

                    <!-- Race Languages -->
                    <h3><b>Languages</b></h3>
                    <p>{{charVar.raceInfo.language_desc}}</p>
                    <p>You can speak:</p>
                    <ul>
                      <li *ngFor="let lang of charVar.raceInfo.languages"> {{lang.name}} </li>
                    </ul>

                    <!-- Race Size -->
                    <h3><b>Size: {{charVar.raceSize}}</b></h3>
                    <p>{{charVar.raceSizeDesc}}</p>

                    <!-- Race Speed -->
                    <h3><b>Speed: {{charVar.raceSpeed}}</b></h3>

                    <!-- Race Proficiencies -->
                    <h3><b>Proficiencies</b></h3>

                    <div *ngIf="charVar.raceInfo.starting_proficiencies.length > 0; then someProficiencyBlock else noProficiencyBlock"></div>

                    <ng-template #noProficiencyBlock>Nothing to talk about</ng-template>
                    <ng-template #someProficiencyBlock>
                      <ul>
                        <li *ngFor="let prof of charVar.raceInfo.starting_proficiencies"> {{prof.name}} </li>
                        <li *ngFor="let prof of charVar.subraceInfo.starting_proficiencies"> ({{charVar.subraceInfo.name}}) {{prof.name}} </li>
                      </ul>

                      <!-- Race Optional Proficiencies -->
                      <div *ngIf="charVar.raceInfo.starting_proficiency_options != undefined">
                        <h3><b>Optional proficiencies</b></h3>
                        <p>Can choose {{charVar.raceProficsOpts.choose}} of:</p>
                        <ul>
                          <li *ngFor="let opProf of charVar.raceInfo.starting_proficiency_options.from"> {{opProf.name}} </li>
                        </ul>
                      </div>

                    </ng-template>

                    <!-- Race Traits -->
                    <h3><b>Traits</b></h3>

                    <div *ngIf="charVar.raceInfo.traits.length > 0; then someTraitsBlock else noTraitsBlock"></div>

                    <ng-template #noTraitsBlock>No special Traits</ng-template>
                    <ng-template #someTraitsBlock>
                      <ul>
                        <li *ngFor="let trait of charVar.raceInfo.traits"> {{trait.name}} </li>
                      </ul>
                    </ng-template>

                    <!-- Race Bonuses -->
                    <h3><b>Bonuses</b></h3>

                    <div *ngIf="charVar.raceInfo.ability_bonuses.length > 0; then someAbilityBlock else noAbilityBlock"></div>

                    <ng-template #noAbilityBlock>No special Bonuses</ng-template>
                    <ng-template #someAbilityBlock>
                      <ul>
                        <li *ngFor="let bonus of charVar.raceInfo.ability_bonuses"> {{bonus.name}} +{{bonus.bonus}} </li>

                        <!-- Subace Bonuses -->
                        <li *ngFor="let bonus of charVar.subraceInfo.ability_bonuses">({{charVar.subraceInfo.name}}) {{bonus.name}} +{{bonus.bonus}} </li>
                      </ul>
                    </ng-template>

                  </div>
                </ng-template>

              </div>
            </div>

          </div>

    </mat-card>
  </div>

</div>
