$MainColor: #f5f5f5

.toolbar
  background-color: $MainColor

:host
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  color: #333
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h6
  margin: 8px 0

p
  margin: 0

.spacer
  flex: 1

.toolbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 60px
  display: flex
  align-items: center
  color: black
  font-weight: 600

.toolbar
  img
    margin: 0 16px

  #linkedin-logo
    height: 40px
    margin: 0 16px

  #linkedin-logo:hover
    opacity: 0.8

  .toolbarIcon
    color: #ec2127
