/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

$MainColor: #bd272c
$MainColorShadow: #6b1c1f

html
  height: 100%

body
  height: 100%

.main-container
  height: 100%

.row
  display: flex
  width: 100%

.panelHeader-column
  flex: 20%
  padding: 0px
  background-image: linear-gradient(to right, $MainColorShadow, $MainColor)
  box-shadow: -3px 0px 20px black
  border-right: solid 1px $MainColorShadow
  z-index: 1

.content-column
  flex: 80%
  padding: 0px
