<div class="content" role="main">
  <div class="container">
    <div class="jumbotron-fluid">
      <h1 class="display-4">Still a class placeholder</h1>
      <p class="lead">What I said in the title</p>
      <hr class="my-12">
      <p>Again... what I said in the title</p>
    </div>
  </div>

</div>
