$MainColor: #f5f5f5
$MainColorShadow: #cfcfcf

.content
  display: flex
  margin: 82px auto 32px
  padding: 0 16px
  max-width: 960px
  flex-direction: column
  align-items: center

.container
  background-image: linear-gradient(to top, $MainColorShadow, $MainColor)
  border-radius: 15px
