$MainColor: #f5f5f5

.content
  display: flex
  margin: 82px auto 32px
  padding: 0 16px 0 32px
  flex-direction: column
  align-items: center

button
  transition: all 0.2s ease-in-out

button:hover
  transform: scale(1.03)
  transform: translateX(0.5em)

@keyframes Loading
  0%
    transform: scale(1.0)
    opacity: 0
  50%
    transform: scale(1.15)
    opacity: 1
  100%
    transform: scale(1.3)
    opacity: 0

@keyframes Reset
  0%
    transform: scale(0.7)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1

.PanelLogo
  text-align: center
  position: relative
  bottom: -30px

.loading img
  animation: Loading 1500ms ease-in-out infinite

.idle img
  animation: Reset 1500ms ease-in-out
