<div class="content" role="main">
  <button type="button" routerLink="/characterData" class="btn btn-outline-light btn-lg btn-block">Character Data <i class="fa fa-user"></i></button>
  <button type="button" routerLink="/class" class="btn btn-outline-light btn-lg btn-block">Classes <i class="fa fa-book-open"></i></button>
  <button type="button" class="btn btn-outline-light btn-lg btn-block">Races <i class="fa fa-chess"></i></button>
  <button type="button" class="btn btn-outline-light btn-lg btn-block">Spells <i class="fa fa-magic"></i></button>
  <span class="PanelLogo idle">
    <img width="40%" src="../assets/images/RoundLogo.png" alt="D&D Round Logo">
  </span>
</div>
